.landing section {
	margin: auto 120px;
}

.phone .landing .page-section {
	margin: auto 24px;
}

.phone .landing .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .landing .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

.level_button {
    text-align: center;
	color: yellow;
}

@font-face {
	src: url('/Starjhol.ttf') format('truetype');
	font-family: Starjhol;
}
 @font-face {
    src: url('/STJEDISE.TTF') format('truetype');
   	font-family: STJEDISE;
}
